{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>navbar}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>courser}}
        {{!-- <div class="col-md-3 offset-5" style="margin-top: -75px;">
            <input type="submit" class="btn btn-outline-success" value="Check Item">
            <input type="submit" class="btn btn-outline-danger" value="Registration">
        </div>
    </div> --}}
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-3" style="background-color: cornflowerblue;">
            <center><h1><i class="fa fa-plus-square" aria-hidden="true"></i></h1></center>
            <center><h3>Create operation</h3></center>
        </div>
        <div class="col-md-3 " style="background-color: darkcyan;">
            <center><h1><i class="fa fa-book" aria-hidden="true"></i></h1></center>
            <center><h3>Read Operation</h3></center>
        </div>
        <div class="col-md-3" style="background-color: silver;">
            <center><h1><i class="fa fa-wrench" aria-hidden="true"></i></h1></center>
            <center><h3>Update Operation</h3></center>
        </div>
        <div class="col-md-3" style="background-color: tomato;">
            <center><h1><i class="fa fa-trash" aria-hidden="true"></i></h1></center>
            <center><h3>Delete Operation</h3></center>
        </div>
    </div>
</div>